<html>
<head>
    <style>p {
        margin-top: 0pt;
        margin-bottom: 1pt;
    }

    span.a {
        font-family: 'ËÎÌå';
        font-size: 12.0pt;
    }

    span.a3 {
        color: #0000ff;
        text-decoration: underline;
    }</style>
</head>
<body>
<div style="width:100%;margin-bottom:72.0pt;margin-top:72.0pt;margin-left:10pt;margin-right:10.0pt;"><p
        style="text-align:justified;white-space:pre-wrap;"><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">Super Brawl is a </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">fantastic</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> RPG that blend</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">s </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">classic idle </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">element</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> with </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">innovative</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> style. </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">Customized</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">hero</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">, i</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">ntense </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">brawl</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">s, awesome s</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">kills</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">and </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">amazing </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">PVP </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">mode</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;">are</span><span
        style="font-family:'Times New Roman';white-space:pre-wrap;"> waiting for you!</span></p>
    <p style="text-align:justified;white-space:pre-wrap;"><br/></p>
    <p style="text-align:justified;white-space:pre-wrap;"><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Endless invaders came from a strange portal that appeared</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">suddenly</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> in your farm. To regain peace, you must clear </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">grotesque</span> <span
            style="font-family:'Times New Roman';white-space:pre-wrap;">aliens </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">and</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">the</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">giant bosses! Don&rsquo;t be frightened,</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">plenty of rewards, </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">p</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">owerful gears</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> and</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">various skills</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">in this fancy world would</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">help</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">strengthen</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> your power</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">.</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">More</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">gameplay</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> will be beyond your imagination.</span></p>
    <p style="text-align:justified;white-space:pre-wrap;"><br/></p>
    <p style="text-align:justified;white-space:pre-wrap;"><br/></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">Features:</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">* </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Unique</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">and funny </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">graphic</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">*</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Dress your hero with costumes in different styles</span>
    </p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">*</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> Crazy</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">, intense and dazzling</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">brawls</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">*</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Idle</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">mode</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> to </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">brush</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">aliens</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">and</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> earn rewards</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">* One finger to </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">control</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> strategic move </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">and beat </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">epic</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">bosses</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">*</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Various </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">t</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">actics to combine</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> and equip</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">skills</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> for superpower</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">*</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> Merge to </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">gain </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">high level </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">gears</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">, skills and </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">pet</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">armies</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">*</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Command</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">u</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">nique</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">pet</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">armies</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">to</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> fight</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">in </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">PVP</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">mode</span></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">* </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Save</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> NPCs</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> </span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">and</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> they</span><span
            style="font-family:'Times New Roman';white-space:pre-wrap;"> will help you become stronger </span></p>
    <p><br/></p>
    <p><span style="font-family:'Times New Roman';white-space:pre-wrap;">Contact us:</span><br/><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Email: superbrawl0930@gmail.com</span><br/><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">Facebook: </span><a
            href="https://www.facebook.com/superbrawlgame/"><span
            style="font-family:'Times New Roman';white-space:pre-wrap;">https://www.facebook.com/superbrawlgame/</span>
    </a><br/><span style="font-family:'Times New Roman';white-space:pre-wrap;">Discord: </span><a
            href="https://discord.gg/bETQBsg"><span style="font-family:'Times New Roman';white-space:pre-wrap;">https://discord.gg/bETQBsg</span>
    </a></p>
    <p/></div>
</body>
</html>