<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <style>html {
        padding: 15px;
    }

    body {
        word-wrap: break-word;
        font-size: 13px;
        padding: 0px;
        margin: 0px
    }

    p {
        padding: 0px;
        margin: 0px;
        font-size: 13px;
        color: #222222;
        line-height: 1.3;
    }

    img {
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        width: auto;
        height: auto;
    }</style>
    <script>
        window.onload = function () {
            var objs = document.getElementsByTagName("img");
            for (var i = 0; i < objs.length; i++) {
                objs[i].onclick = function () {
                    console.log(22222);
                }
            }
        }</script>
</head>
<body>

<img src="https://img-blog.csdnimg.cn/a0fa7a16f1e840089b562e9ff4340826.png" alt="2">

</body>
</html>